@font-face {
    font-family: 'Codec Cold';
    src: url('CodecColdTrial-ExtraBold.eot');
    src: url('CodecColdTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('CodecColdTrial-ExtraBold.woff2') format('woff2'),
        url('CodecColdTrial-ExtraBold.woff') format('woff'),
        url('CodecColdTrial-ExtraBold.ttf') format('truetype'),
        url('CodecColdTrial-ExtraBold.svg#CodecColdTrial-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecColdTrial-Regular.eot');
    src: url('CodecColdTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('CodecColdTrial-Regular.woff2') format('woff2'),
        url('CodecColdTrial-Regular.woff') format('woff'),
        url('CodecColdTrial-Regular.ttf') format('truetype'),
        url('CodecColdTrial-Regular.svg#CodecColdTrial-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

